.upload__inner {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  margin-bottom: 110px;
}
.upload__inner-title {
  color: $bg;
  font-size: 24px;
  @include f500;
  padding: 16px 25px 18px;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 40px;
}
.upload__inner-content {
  margin-bottom: 30px;
  padding-left: 45px;
  padding-right: 50px;
  .submit__btn {
    color: #fff;
    background-color: $green;
    border: none;
    margin-left: 175px;
    margin-bottom: 70px;
    padding: 15px 36px;
  }
}
.upload-line {
  margin-bottom: 25px;
  display: flex;
  select,
  input,
  textarea {
    width: 100%;
    display: block;
    border: 1px solid #d7d7d7;
    height: 40px;
    background-color: #f9f9f9;
    padding: 0 18px;
    &::placeholder {
      color: #707070;
    }
  }
  input[type="file"] {
    outline: none;
  }
  textarea {
    resize: none;
    height: 150px;
    padding: 8px 18px;
  }
  label {
    min-width: 175px;
    padding-right: 15px;
    color: #444444;
    padding-top: 5px;
    span {
      color: $green;
    }
  }
  .jq-selectbox {
    width: 100%;
  }
  .jq-file {
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #d7d7d7;
    background-color: #f9f9f9;
    height: 40px;
    &.focused {
      outline: none;
    }
  }
  .jq-selectbox__select {
    padding: 0 18px;
    border-radius: 0px;
    background-color: #f9f9f9;
    box-shadow: none;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    color: #707070;
    text-shadow: none;
    line-height: 40px;
    height: 40px;
    border: 1px solid #d7d7d7;
  }
  .jq-file__name {
    width: 100%;
    height: 40px;
    padding: 0 18px;
    border: none;
    border-bottom-color: transparent;
    border-radius: 0px;
    background: transparent;
    box-shadow: none;
    line-height: 40px;
    padding-right: 12px;
    padding: 0 18px;
    color: #707070;
    margin-left: 100px;
    outline: none;
  }
  .jq-file__browse {
    top: 5px;
    right: auto;
    left: 9px;
    padding: 0 12px;
    border-left: none;
    font-size: 12px;
    line-height: 26px;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
    border: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    text-shadow: none;
    color: #444444;
  }
  .jq-selectbox__trigger-arrow {
    border: none;
    font-size: 15px;
    line-height: 40px;
    top: 0;
    right: 20px;
    &::before {
      font-family: "icomoon";
      content: "\f0d7";
      /* Style for "" */
      width: 9px;
      height: 9px;
      color: #444444;
    }
  }
  .jq-selectbox__trigger {
    border-left: none;
  }
  .jq-selectbox__dropdown {
    top: 37px;
  }
}
